/* CSS dummy file for whitetheme 27nov21 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	background: linear-gradient(150deg,#28333d 0%,#060d32 100%) fixed;
}

p {
	color: #fff;
	font-size: 14pt;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 48pt;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	background: #356391;
	background: -webkit-linear-gradient(to right, #356391 0%, #a2bad2 100%);
	background: -moz-linear-gradient(to right, #356391 0%, #a2bad2 100%);
	background: linear-gradient(to right, #356391 0%, #a2bad2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
